@media (max-width: 458px){
    .footer_logo{
        display: none;
    }
    .Gallery-wrapper img{
        width: 130px;
    }
    .btn, .user-home-btn, .navigation__logo{
        margin-bottom: 0.5rem;
    }
    .btn{
        height: 20px;
        font-weight: 500;
        width: 100px;
        font-size:0.8rem ;
    }
    .navigation__logo{
        display: none;
    }
    .navigation {
        position: relative; 
        flex-direction: column;
    }
    .footer-content{
        display: block;
        padding: 1rem;
    }
    .service-list-left{
        margin-right: 0rem;
    }
    .service-list-right{
        margin-left: 0rem;
    }
    .service-image{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 200px; 
        height: 250px;
    }
    .Service-content{
        display: block;
    }
    .about-content{
        display: block;
    }
   .about-text{
    margin: 1rem 1rem;
   }
   .about-section img{
     width: 200px;
     height: auto;
   }
   

}



@media (min-width: 458px) and (max-width: 768px) {
    .navigation {
        position: relative; 
        flex-direction: column;
    }
    .hero-section{
        height: 0;
    }
    .hero-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .hero-content__image img{
        
        width: 65%;
        border-radius: 32px;
        border: 10px solid #8C4227;
        display: flex;
        
    }
    .hero-content__image{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }
    .hero-content__text h2{
        font-size: 1rem;
        color: #8C4227;
        margin-bottom: 1.5rem;
    }
    .btn, .user-home-btn, .navigation__logo{
        margin-bottom: 0.5rem;
    }
    .btn{
        height: 20px;
        font-weight: 500;
        width: 100px;
        font-size:0.8rem ;
    }
    .navigation__logo{
        display: none;
    }
    .signup-btn{
        margin-bottom: 2rem;
    }
    .Gallery-wrapper{
        gap: 10px;
    }
    .Gallery-wrapper img{
        width: 150px;
    }
    .Gallery-content{
        display: block
    }
    .footer_logo{
        width: 200px;
    }
    .service-list-left{
        margin-right: 0.5rem;
    }
    .service-list-right{
        margin-left: 0.5rem;
    }
    .service-image{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 200px; 
        height: 250px;
    }
    .Service-content{
        display: block;
    }
    .about-content{
        display: block;
        width: 0;
    }
    .about-content{
        display: block;
    }
   .about-text{
    margin: 1rem 1rem;
   }
   .about-section img{
     width: 200px;
     height: auto;
   }
   
   
}

@media (min-width: 768px) and (max-width: 1250px) {
   
    
    .navigation__logo{
        height: 28px;
        margin: 0rem;
    }
    .btn{
        height: 25px;
        font-weight: 500;
        width: 65px;
        font-size: 0.7rem;
        margin: 0 0.5rem;
    }
    .hero-content__image{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .hero-content__text h2{
        font-size: 1.3rem;
    }
    .hero-content__image img{
        width: 65%;
    }
    .hero-section{
        width: 96%;
    }
    .service-image{
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 200px; 
        height: 250px;
    }
    .service-list-left{
        margin-right: 2rem;
    }
    .service-list-right{
        margin-left: 2rem;
    }
}


@media (max-width: 768px) {
    .login-section {
        flex-direction: column;
        padding: 2rem;
    }

    .login-content {
        width: 90%; 
        margin-left: 0; 
        padding: 1.5rem;
        border: 5px solid #BF7245; 
    }

    .back-arrow {
        margin-left: 0; 
        margin-bottom: 1rem; 
    }

    .form-login input {
        padding: 0.5rem; 
    }

    .sing-text-button {
        font-size: 0.8rem;
    }
}

@media (max-width: 458px) {
    .log-reg {
        font-size: 28px; 
    }

    .form-login input {
        width: 100%; 
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .login-content {
        padding: 1rem; 
    }

    .back-arrow {
        display: flex;
        justify-content: center; 
    }
}


@media (max-width: 768px) {
    .register-section {
        flex-direction: column;
        padding: 2rem;
    }

    .register-content {
        width: 90%;
        margin: 0 auto; 
        padding: 1.5rem;
        border: 5px solid #BF7245;
    }

    .form-register input {
        padding: 0.5rem;
    }
}

@media (max-width: 458px) {
    .register-content {
        padding: 1rem;
    }

    .form-register input {
        width: 100%;
        padding: 0.4rem;
        font-size: 0.9rem;
    }

    .sing-text {
        font-size: 0.8rem;
    }
}


@media print {
    
    header, footer, nav, .navigation, .btn, .hidden, .signup-btn, .plus_photo1{
        display: none !important;
    }

    
    body {
        background: none !important;
        color: black !important;
        font-size: 12pt;
        line-height: 1.5;
    }

    main, .hero-section, .content, .Service-content {
        display: block !important;
        width: 100%;
        padding: 0;
    }

    
    h1, h2, h3 {
        color: black;
        margin-bottom: 10px;
    }

   
    img {
        max-width: 100%;
        height: auto;
    }

    .table-price {
        border-collapse: collapse; 
        width: 100%; 
        margin: 2rem 0; 
        
    }
    
   
    .table-price th {
        border: 1px solid #000; 
        padding: 0.75rem; 
        text-align: center; 
        font-weight: bold; 
        color: #333; 
    }
    
    
    .table-price td {
        border: 1px solid #000; 
        padding: 0.75rem; 
        text-align: center; 
        font-size: 1rem;
        color: #333; 
    }

   

    

    .about-section {
        width: 100%; 
        max-width: 800px; 
        margin: 0 auto; 
        padding: 20px;
        text-align: justify; 
        box-sizing: border-box; 
    }

 

    .about-section p {
        font-size: 12pt;
        margin-bottom: 1rem;
        color: #000;
    }
    .about-section {
        width: 100%; 
        max-width: 1000px; 
        margin: 0 auto; 
        padding: 2rem; 
        box-sizing: border-box;
        text-align: justify; 
    }

    .about-content {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 auto;
    }

    .about-section h2 {
        text-align: center;
        font-size: 18pt;
        margin-bottom: 1rem;
        font-weight: bold;
        color: black;
    }

    .about-text {
        margin: 0 auto;
        font-size: 12pt;
        line-height: 1.6;
        color: black;
    }

}
    
 
    
